html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    background-color:rgb(251, 248, 218);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.accordion:hover .button{
    visibility: visible;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 767px) {
    h1 {
        font-size: 1rem;
    }

}

@media  (min-width: 768px) and (max-width: 1279px){
    h1 {
        font-size: 1.5rem;
    }
}

@media  (min-width: 1920px) {
    h1 {
        font-size: 2rem;
    }
}

.mem input,
.mem-img {
    width: 0;
    transition:  1s;
    margin: 0 auto;
}


/* .mem:checked {
   color: aliceblue;
} */

.mem :checked ~ .mem-title .mem-img {
    width: 60%;
}

.mem :checked ~ .mem-title .button {
 transform: rotate(45deg);
 transition:  0.5s;
}

.mem-container {
    width: 40%;
    height: 50%;
}

.mem-title {    
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.button {
    background-image: url(./img/plus.png);
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    visibility: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
    .button {
        width: 0.7rem;
        height: 0.7rem;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .button {
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width: 1920px) {
    .button {
        width: 2rem;
        height: 2rem;
    }
}

.mem {
    border-bottom: 0.12rem solid rgba(161, 149, 149, 0.9);
}


@media (hover: hover) {
    .mem:hover .mem-img{
        width: 50%;
        transition:  1s;
    }
}

@media (hover: hover) {
    .mem-img:hover {
        cursor: pointer;
    }
}

.mem-title-items {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .mem-title-items {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .mem-title-items {
        font-size: 1rem;
    }
}

@media (min-width: 1920px)  {
    .mem-title-items {
        font-size: 2rem;
    }
}